<div class="container">
    <table id="items" class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Symbol</th>
                <th>Number of shares</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <document-form></document-form>
            <tr ng-repeat="item in vmPortfolioTable.documents">
                <td>{{item.Symbol}}</td>
                <td>{{item.SharesNumber}}</td>
                <td>
                    <!--<div class="btn-group">
                        <button class="btn btn-warning" ng-click="">Update</button>
                        <button class="btn btn-danger" ng-click="vmPortfolioTable.deleteDocument(item)">Delete</button>
                    </div>-->

                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a class="btn btn-warning" ng-click=""><i class="icon-align-left glyphicon glyphicon-pencil"></i></a>
                            <a class="btn btn-danger" ng-click="vmPortfolioTable.deleteDocument(item)"><i class="icon-align-center glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>